.border-navbar{
    padding: 1%;
    background-color: rgba(0, 172, 216, 0.4) !important;
}

.custom-navBar{
    background-color: rgba(0, 172, 216, 0.6) !important;
}

.secondary-nav{
    margin-left: 0%;
}
.custom-nav--text{
    color: black;
    font-size: large;
}
.custom-dropDown--text{
    color: black;
    font-size: large;
}
.custom-dropDownItem--text{
    color: black;
}
.card-title{
    text-align: center;
}
.card-body{
    text-align: justify;
}
.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 5%;
    
}
.text-justify{
    text-align: justify;
}


/* Model Tables */

div.clarity_results_card.card > .card-body{
    padding: 6px;
    margin: 0%;
    width: 100%;
}
div.clarity_results_card.card > .card-header{
    padding: 10px;
    margin: 0%;
    width: 100%;
    max-height: 40px;
}

div.clarity_results_card .secondary-title{
    margin: 0%;
}


div.makeCollapsibleCustom > div.card-header{
    width: 100%;
    margin: 0;
    padding: 6px;
}

div#clarity_model_params {
    /* font-size: smaller; */
    width: 100%; 
    max-width: 100%;
}