.border-navbar{
    padding: 3%;
    background-color: rgba(0, 172, 216, 0.4) !important;
}

.custom-navBar{
    background-color: rgba(0, 172, 216, 0.6) !important;
}

.secondary-nav{
    margin-left: 0%;
}
.custom-nav--text{
    color: black;
    font-size: large;
}
.card-title{
    text-align: center;
}
.card-body{
    text-align: justify;
}
.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 5%;
    
}
.text.justify{
    text-align: justify;
}